/*header base auth*/
#h-base-auth{
    width: 100%;
    height: 60px;
    background-color: #007bff;
}

/*footer base auth*/
#f-base-auth{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #1b1e21;
    color: #fff;
    justify-content: center;
    align-items: center;
}

/*div form registration and authorization*/
.d-m-form {
    justify-content:center;
    align-items:center;
    min-height: 85vh;
    background-color: #e6e9ea;
}

.d-s-form{
    width: 280px;
    min-height: 280px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    border-top:none;
}
.d-f-head{
    width: 280px;
    height: 35px;
    text-align: center;
    padding: 7px 0;
    background-color: #005cbf;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    color:#fff;
    text-transform: uppercase;
}


.d-alert{
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}












/*main continer div*/
.m-d-container{
    min-height: 100vh;
    background-color: #e6e9ea;
    padding: 0;
}

/*main footer*/
footer{
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #1d2124;
    justify-content: center;
    align-items: center;
}

.m-d-carausel{
    justify-content: center;
    align-content: center;
    /*border: 1px solid #005cbf;*/
    /*background-color: #ddd0ff;*/
    width: 100%;
    padding: 30px 0;
    margin-bottom: 20px;
    height: auto;
}
.d-carausel{
    width: 700px;
    height: 300px!important;
}
.d-carausel img{
    height: 300px;
}


.m-article{
    background-color: #fff;
padding: 20px;
}



.m-d-search{
    justify-content: center;
    align-items: center;
    /*background-color: #005cbf;*/
    min-height: 200px;
    width: 100%;

}
.search{
    width: 60%;
    min-height: 140px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 4px;
}

.s-d-1{
    width: 100%;
    /*background-color: #1c7430;*/
    margin-bottom: 20px;
}
.s-d-1 .mr-sm-2{
    width: 84%;
}

.s-d-2{
width: 100%;
}
.s-d-2 .form-control{
    width: 100%;
}


.m-d-conprod{
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100%;
    height: auto;
}





.m-d-conprod .card{
    margin: 10px;
  width: 200px;
    min-height: 300px;

}


/*div info for information*/
.d-m-info{
    justify-content: center;
    align-content: center;
width: 100%;
    height: 150px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.d-m-info table{
    border-top: #ffffff;
}
.d-m-info .tb-tr{
    background-color: #ffffff;
}
/*main div feadback*/

.m-d-feadback{
    padding:20px 0;
    justify-content: center;
    align-content: center;
width: 100%;
    background-color: #ffffff;
}
.fead-con{
    width: 500px;
}

/*page user*/

.m-d-user{
    flex-flow: row wrap;

    width: 100%;

}

.m-d-user .item-1{
    justify-content: center;
    align-content: center;
    width: 50%;
    height: auto;
    /*height: 300px;*/
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    padding: 20px;
}
.m-d-user .item-1 .photo{
    width: 120px;
    min-height: 150px;
    /*background-color: #1c7430;*/
}
.m-d-user .item-2{
     width: 50%;
    min-height: 150px;
    background-color: #ffffff;
    padding: 20px;
}

/*page description*/
.m-d-desc{
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-content: center;
    /*background-color: #20c997;*/

}

.d-des-center{
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: auto;
    background-color: #fff;
    padding: 5px;
    border: 1px solid green;
}

.m-d-desc .d-img{
    width: 200px;
    height: 200px;
    /*background-color: #6c757d;*/

}
.m-d-desc .m-d-info{

    padding: 20px;

}




/*admin page*/
.m-d-admin{
    background-color: #ffffff;
    padding: 10px 0;
}


.m-d-update{
    background-color: #d4e6f7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*min-height: 85vh;*/
    padding: 15px 0;
}
.d-update{
    width: 280px;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #ccc;
}


.error-page{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #3f4c51;
    color: #fff;
    text-transform: uppercase;

}