
<link rel="stylesheet" href="{{ url('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url('static', filename='css/styles.css') }}">

<div class="d-flex error-page">
    <h3>ERROR:500 - internal server error</h3>
</div>