{% extends 'base.html' %}
{% set title='Admin' %}
{% block body %}
<h3 class="text-center" style="width: 100%">
    Admin Page
</h3>
{% if products %}
<div class="m-d-admin">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">update</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
  {% for pr in products%}
    <tr>
      <th scope="row">{{pr['id']}}</th>
      <td>{{pr['title']}}</td>
        <td><a href="update/{{pr['id']}}" class="btn btn-warning">update</a></td>
        <td><a href="delete/{{pr['id']}}" class="btn btn-danger">delete</a></td>
    </tr>


{% endfor %}


  </tbody>
</table>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">+ add product</button>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex m-d-update">
    {% if error %}
    <div class="alert alert-warning" style="padding: 7px 50px;">{{error}}</div>
    {% endif %}
    <div class="d-update">
        <h4 class="text-center">add product</h4>
        {% if products and category %}
        <form  method="post">
    <div class="form-group">
    <label for="exampleInputtitle">Title</label>
    <input type="text" name="title" class="form-control" id="exampleInputtitle" aria-describedby="emailHelp" placeholder="Title" required>
  </div>
  <div class="form-group">
      <label for="exampleInputtitle">Category</label>
   <select name="category_id" class="form-control">
       {%if category%}
  {% for c in category %}
       <option value="{{c['id']}}">
      {{c['name']}}
  </option>
       {% endfor %}
{% endif%}

</select>
  </div>
 <div class="form-group">
      <label for="exampleInputtitle">Show image in index page</label>
     <select name="img_index" class="form-control">

         {% for i in sh_index %}
         <option value="{{i}}">{{sh_index[i]}}</option>

         {% endfor %}

</select>

  </div>


 <div class="form-group">
    <label for="exampleInputdesc">Description</label>
     <textarea type="text"  name="description" class="form-control" id="exampleInputdesc"  rows="4" cols="50"  required>
here must be description
      </textarea>
  </div>


  <button type="submit" class="btn btn-success">Add Product</button>
</form>


{% endif %}
    </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endif %}
{% endblock %}