<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="{{ url('static', filename='css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ url('static', filename='css/styles.css') }}">

    <title>{{title}}</title>
  </head>
  <body>

  <header id="h-base-auth">

  </header>

  {% block body %}
  {% endblock  %}
  <footer id="f-base-auth">
        <span>
         2018 © Created by Okhunjon.
        </span>
  </footer>
  </body>
</html>