{% extends 'base.html' %}
{% set title='CONTACTS' %}
{% block body %}


<!--{% if data%}-->


<!--<p>data for index paga from back-end{{data}}</p>-->

<!--{% endif %}-->
<h3 class="text-center" style="width: 100%; padding: 5px 0;">Contact information</h3>
<div class="d-m-info d-flex">

    <table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Support</th>
      <th scope="col">Our Email</th>
      <th scope="col">Our address</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tb-tr">
      <td>+992 92 993 33 03</td>
      <td>okhunjon.bakhtiyori@gmail.com</td>
      <td>Tajikistan, Sogd, Khujand</td>
    </tr>
  </tbody>
</table>
</div>


<h3 class="text-center" style="width: 100%">Feadback</h3>
<div class="m-d-feadback d-flex">
    <div class="fead-con">
        {% if error %}
        <div class="alert alert-warning text-center">{{error}}</div>
        {% endif %}
<form action="/contacts" method="post" accept-charset="utf-8">
 <div class="form-group row">
    <label for="inputname" class="col-sm-2 col-form-label">Firstname</label>
    <div class="col-sm-10">
      <input type="text" name="firstname" class="form-control" id="inputname" placeholder="firstname">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
 <div class="form-group row">
    <label for="inputmessage" class="col-sm-2 col-form-label">Message</label>
    <div class="col-sm-10">
      <textarea type="text" name="content" class="form-control" id="inputmessage">
      </textarea>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>
    </div>
</div>



{% endblock %}