{% extends 'base.html' %}
{% set title='Description' %}
{% block body %}

<div class="m-d-desc d-flex">
    {% if product %}
    <div class="d-des-center d-flex">
    <div class="d-img">
        <img src="../static/img/1.png" style="width: 100%; height:auto">
    </div>
    <div class="m-d-info d-flex">
<ul class="list-group">
  <li class="list-group-item">tile: {{product['title']}}</li>

  <li class="list-group-item">Description: {{product['description']}}</li>
<a href="/products" class="btn btn-primary">Go back</a>
        </ul>
    </div>
    </div>
    {% endif %}
</div>



{% endblock %}
