{% extends 'base_auth.html' %}
{% set title="Login" %}
{% block body %}



<div class="d-flex d-m-form">
  <div>
  {% if error %}
<div class="alert alert-danger d-alert">
  {{error}}
</div>
{% endif %}



  <div>
    <div class="d-f-head"><span>Sign in</span></div>

    <div class="d-s-form">

<form action="/" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
  <a href="/registration" class="btn btn-primary">Sign up</a>
</form>
    </div>
  </div>
</div>
</div>
{% endblock %}