{% extends 'base.html' %}
{% set title='PRODUCTS' %}
{% block body %}


<!--{% if data%}-->


<!--<p>data for index paga from back-end{{data}}</p>-->

<!--{% endif %}-->



<!--<div class="d-flex m-d-search">-->
    <!--<div class="search">-->
<!--<form action="/products" method="post" class="form-inline my-2 my-lg-0">-->
    <!--<div class="s-d-1">-->
      <!--<input name="search_key" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</div>-->
    <!--<div class="s-d-2">-->
    <!--<select name="category" class="form-control">-->
        <!--{% if category %}-->
         <!--<option value="">Choose category</option>-->
        <!--{% for c in category%}-->
  <!--<option value="{{c['id']}}">{{c['name']}}</option>-->
        <!--{% endfor %}-->
        <!--{% endif %}-->
<!--</select>-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
<!--</div>-->
<a href="/products">Go back</a>
<h4>Result of yor search</h4>
<hr>
{% if warning %}
<div class="alert alert-warning  text-center" style="color: #1b1e21;">{{warning}}</div>
{% endif %}
<div class="m-d-conprod d-flex">
 {% if data %}
    {% for product in data %}
    <div class="card">
  <img class="card-img-top" src="{{ url('static', filename='img/pr.png') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product['title']}}</h5>
    <p class="card-text">{{product['description']}}</p>
    <a href="product/{{product['id']}}" class="btn btn-primary">{{product['title']}}</a>
  </div>
</div>
    {% endfor %}
 {% endif %}

</div>




{% endblock %}