{% extends 'base_auth.html' %}
{% set title="Update product" %}
{% block body %}

<div class="d-flex m-d-update">
    {% if error %}
    <div class="alert alert-warning" style="padding: 7px 50px;">{{error}}</div>
    {% endif %}
    <div class="d-update">
        <h4 class="text-center">Update product</h4>
        {% if product and category %}
        <form action="/update/{{id}}" method="post">
    <div class="form-group">
    <label for="exampleInputtitle">Title</label>
        <input type="count" name="id" value="{{product['id']}}" hidden="true" >
    <input type="text" name="title" class="form-control" id="exampleInputtitle" aria-describedby="emailHelp" placeholder="Title" value="{{product['title']}}">
  </div>
  <div class="form-group">
      <label for="exampleInputtitle">Category</label>
   <select name="category_id" class="form-control">
       {%if category%}
  {% for c in category %}
       <option value="{{c['id']}}" {%if c['id']==product['category_id']%}   selected="selected"   {% endif %}">
      {{c['name']}}
  </option>
       {% endfor %}
{% endif%}

</select>
  </div>
 <div class="form-group">
      <label for="exampleInputtitle">Show image in index page</label>
     <select name="img_index" class="form-control">

         {% for i in sh_index %}
         <option value="{{i}}" {% if i==product['img_index'] %} selected="selected" {% endif %}>{{sh_index[i]}}</option>

         {% endfor %}

</select>

  </div>

  <!--<div class="form-group">-->
  <!--<label for="exampleInputtitle">import img</label>-->
<!--<input type="file" name="fileupload" value="{{product['img']}}">-->
  <!--</div>-->

 <div class="form-group">
    <label for="exampleInputdesc">Description</label>
     <textarea type="text"  name="description" class="form-control" id="exampleInputdesc" >
         {{product['description']}}
      </textarea>
  </div>


  <button type="submit" class="btn btn-success">Update</button>
</form>
        {% else: %}
            {% if success %}
            <div class="alert alert-success" style="padding: 7px 50px;">{{success}}</div>
        {% endif %}
        <a href="/admin">Go back</a>

{% endif %}
    </div>
</div>

{% endblock %}