{% extends 'base.html' %}
{% set title='USER' %}
{% block body %}



<!--{% if data%}-->
<!--<p>data for index paga from back-end{{data}}</p>-->
<!--{% endif %}-->


{% if user %}
<h2 class="text-center">
    Wellcome {{user['username']}}
</h2>
<hr>
<div class="m-d-user d-flex">
    <div class="item-1 d-flex">
        <div class="photo">
            <img src="{{ url('static', filename='img/avatar.png') }}" width="100%" height="120px">
            <!--<form>-->
            <!--<div class="custom-file">-->
  <!--<input type="file" class="custom-file-input" id="customFile">-->
  <!--<label class="custom-file-label" for="customFile">Img</label>-->
                <!--<button type="submit" class="btn btn-success" style="width: 100%">Save</button>-->
<!--</div>-->
            <!--</form>-->

        </div>
    </div>

    <div class="item-2 d-flex">
        <ul class="list-group">
  <li class="list-group-item">Username: {{user['username']}}</li>
  <li class="list-group-item">User Emil: {{user['email']}}</li>
  <li class="list-group-item">User Password: {{user['password']}}</li>
              <li class="list-group-item">Date of registration: {{user['timestamp']}}</li>
<!--<a href="/setting/id" class="btn btn-primary">Change data</a>-->
        </ul>
    </div>
</div>




{% endif %}



{% endblock %}